.navbar {
    height: 50px;
    background-color: #57016e;
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 500;
}

/* .navButton {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
} */

/* Styling for the navButton */
.navButton {
    background-color: #9500bd;
    color: white;
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.navButton:hover {
    background-color: #22022b;
}